body {
    display: block;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    margin-top: 5%;
}
span {
  font-family: 'Shadows Into Light';
  text-shadow: 3px 3px #000;
}
.compaso {
  font-family: 'Open Sans Condensed';
  text-shadow: 3px 3px #000;
}



.titulo-principal {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
    background-color: rgb(18, 71, 123);
    color: #FFF;
    padding: 2rem;
    width: 100%;
    height: 20em;
}

.compasso-labs {
    text-align: center;
    color: #FFF;
    padding: 2rem;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 500%;
    color: rgba(98, 153, 199, .5);
    position: absolute;
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
}

.artificial-intelligence {
    top: 70%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine-learning {
    top: 17%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.design {
    top: 30%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.iot {
    top: 30%;
    left: 95%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.blockchain {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.clean-code {
    top: 18%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.digital {
    top: 43%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.collaboration {
    top: 40%;
    left: 12%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.big-data {
    top: 5%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.design-thinking {
    top: 40%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}

.botao-saiba-mais {
    font-size: 1.25em;
    background-color: rgb(18, 71, 123);
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
}
.botao{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.botao-faca-parte {
    font-size: 1.25em;
    background-color: white;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

.secao-texto {
    font-size: 1.25em;
    text-align: justify;
    padding: .3em;
    margin: 2em auto;
    width: 120ch;
}

.secao-vertentes{
    background-color: rgb(18, 71, 123);
    height: 30em;
}

.titulo-vertentes{
 font-family: "Open Sans Condensed", "Arial", sans-serif;
 font-size: 100px;
 color: white;
 text-align: center;
 padding-bottom: 30px;
}

.compasso-tecnologia{
 font-family: "Open Sans Condensed", "Arial", sans-serif;
 font-size: 50px;
 color: white;
 text-align: absolute;
 padding-bottom: 30px;
}

.secao-vertentes h2 {
    color: white;
}
.secao-vertentes ul {
    display: -webkit-flex;
    display:         flex;
}
.secao-vertentes li {
    -webkit-flex: auto;
    flex: auto;
    display: inline-block;
    padding: top
    width: 10px;
    height: 30px;
}
.secao-vertentes{
    padding-left: 35px;
    padding-right: 35px;
}
.secao-vertentes li:first-child {
  width: 30%;
  height: 35%;
}
.secao-vertentes li:nth-child(2) {
  transform: scale(1.2);
  width: 30%;
  height: 35%;
}


.secao-vertentes li:nth-child(3) {
 width: 30%;
  height: 35%;
}

.secao-vertentes img {
    width: 30em;
    height: 10em;
    border: .2em solid #000;
}

.links{
    color: rgba(98, 153, 199, .5);
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
